@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  /*------------------------------------------------------------
  |
  | - COLOR
  |
  ------------------------------------------------------------*/

  /* COLOR PALETTE */

  --color-n-white: white;
  --color-n-grey: #f2f2f2;
  --color-n-border: rgba(128, 128, 128, 0.25);
  --color-n-dark: #262626c8;
  --color-n-light-blue: #8ecae682;
  --color-n-light-purple: rgba(137, 43, 226, 0.175);
  --color-n-light-green: rgba(55, 165, 55, 0.139);
  --color-n-light-red: rgba(224, 47, 47, 0.118);
  --color-n-purple: #5e60ceb9;
  --color-n-correct: rgb(55, 165, 55);
  --color-n-wrong: rgb(224, 47, 47);
  --color-n-strong-purple: rgba(137, 43, 226, 0.538);
  --color-n-strong-blue: #234567;

  /* LOADER */

  --color-red: rgba(225, 20, 98, 0.75);
  --color-blue: rgba(111, 202, 220, 0.75);
  --color-green: rgba(61, 184, 143, 0.75);
  --color-orange: rgba(233, 169, 32, 0.75);

  /* BOX SHADOW */

  --box-shadow-0: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /*------------------------------------------------------------
  |
  | - TYPOGRAPHY
  |
  ------------------------------------------------------------*/

  --typography-typeface: 'Inter', sans-serif;
  --typography-content: 'Roboto', sans-serif;
}
